# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Module files
module/
Module/

# Samples files
samples/
Samples

# Test files
test/
Test/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Others
data/
